.Signup {
    background-color: #282c34;
    color: bisque;
    height: 100vh;
}

.title {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10vh;
}
.form {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 10vh;
    flex-wrap: wrap;
}

.form input {
    margin-bottom: 2vh;
}

.form button {
    margin-bottom: 2vh;
}